<%- include("partials/header") -%>
    <div class="box" id="heading">
        <h1>
            <%=heading%>
        </h1>
    </div>

    <div class="box">
        <% items.forEach(function(item){%>
            <form action="/delete" method="post">
                <div class="item">
                <input type="checkbox" name="selectCheckbox" value="<%=item._id%>" onChange="this.form.submit()">
                    <p>
                        <%=item.name%>
                    </p>
                </div>
                <input type="hidden" name="listName" value="<%=heading%>">
            </form>
            <%})%>

                <form class="item" action="/" method="post">
                    <input type="text" name="addNewItem" placeholder="enter your text">
                    <button type="submit" name="btn" value="<%=heading%>">+</button>
                </form>

    </div>
    <%- include("partials/footer") -%>